<section>    
    <header>
       <h2 class="catalog-section__title">Catalog</h2>
       <a class="catalog-section__link" href="/catalog">See All</a>
       <button class="catalog-section__slider-button" type="button" aria-label="Action 1"></button>
       <button class="catalog-section_slider-button"type="button" aria-label="Action 2"></button>
    </header>
<ul class="catalog-slider-list"> 
    { % for item in index.catalog % }
    <li class="catalog-slider-list__item">
    </li>
    { % endfor % }
</ul>
</section>


