<li>
            <a href="#">
            <div class="catalog-item">
                <img class="catalog-item__picture" src="da.png" alt="Blade of Silence" />
                <strong class="catalog-itme__price" >{{item.price}}</strong>
                <h3 class="catalog-item__name">{{item.name}}</h3>
                <span class="catalog-item__label">{{item.label}}</span>
            </div>
            </a>
        </li>
