<header>
   <img src="logo .png" alt="Logo" />
    <ul>
    {% for item in nav%}
      <li><a href="/Home">Home</a></li>
      <li><a href="/Blog">Blog</a></li>
      <li><a href="/Catalog">Catalog</a></li>
      <li><a href="/Contact">Contact Us</a></li>
    </ul>
    {% endfor %}
    <a href="#">Discord</a>

    <button type="button">Login</button>
 </header>